@{
    ViewData["Title"] = "Home Page";
}
<script>
    $(document).ready(function () {
        $('.hi').click(function () { alert("hi")});
        $('.media').media({ width: 1200, height: 660 });
    });
</script>


<a class="media" href="~/trainingfiles/sample.pdf">PDF File</a>
